SECRET_KEY="need to add"
ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=True

SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_JWKS_URL=""

DATABASE_URL=""


GEMINI_API_KEY=""
OpenRouter_API_KEY=""
HUGGINGFACE_API_KEY=""

TAVILY_API_KEY=""
